body
{
	background: #ffffff url("bgs/c.png");
	font-family: "Georgia", serif;
	font-size: 12px;
	color:#1c1c1c;
}

/* OOCSS */
.noise-bg
{
	background-image: url("noise.png");
}

.fjalla { font-family: "Fjalla One", sans-serif; }
.arbutus { font-family: "Arbutus Slab", serif;}
.georgia { font-family: "Georgia", serif;}

canvas
{
	max-width: 100%;
}

ul, ol
{
	line-height: 170%;
}

em
{
	font-weight: bold;
}

.sticktop
{
	position:absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 0;
}

#starter
{
	position: absolute;
	top: 30%;
	left: 50%;
}

#starter_2
{
	background-color: #fff;
	background-color: rgba(255,255,255,.7);
	position: relative;
	left: -50%;
	text-align: center;
	padding: 20px 20px 10px 20px;
	border-radius: 20px;
}

#starter_2 h1, #starter_2 h2
{
	font-size: 100px;
	letter-spacing: -4px;
	text-transform: uppercase;
	color:#171717;
	margin-top: -10px;
}

#starter_2 h1
{
	line-height: 105%;
}

#starter_2 h2
{
	font-size: 25px;
	letter-spacing: 1px;
	margin-top: -15px;
}

.description
{
	margin-top: 10px;
	font-size: 8px;
	color: rgba(0, 0, 0, 0.2);
	margin-left: -48%;
	text-transform: uppercase;
}

#particles
{
	background: #ffffff url("bgs/swirl.png");
	position:absolute !important;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

a
{
	color: #1c1c1c;
	text-decoration: none;
}

article ol, article ul
{
	margin-left: 30px;
}

blockquote
{
	border-left: 1px solid #000;
	margin-left: 10px;
	padding-left: 10px;
}

blockquote > p ~ ol, blockquote > p ~ ul
{
	margin-left: 25px;
}

blockquote > ol, blockquote > ul
{
	margin-left: 20px;
}

img 
{
    vertical-align: middle;
    max-width: 100%;
}

.title, .tagline
{
	width: 100%;
	font-style: italic;
	color: #fff;
	font-weight: normal;
	background-color: #1c1c1c;
	text-align: center;
}

/*.tagline div
{
	display: inline;
}*/

.pagn, .pagp
{
	display: none;	
	font-size: 8px;
	text-transform: uppercase;
}

.pagn
{
	margin-left: 30px;
}

.pagp
{
	margin-right: 30px;
}

.title
{
	padding-top:10px;
	font-family: helvetica, sans-serif;
	font-size: 50px;
	letter-spacing: -3px;
}

.tagline
{
	padding-bottom: 10px;
	font-size:10px;
	letter-spacing: 5px;
	z-index:10;
}

.stickt
{
	position: fixed;
	top: 0;
	padding-top: 10px;
}

h1,h2
{

}

aside
{
	width: 210px;
	float:left;
	line-height: 150%;
}

.sticka
{
	position:fixed;
	top: 50px;
}

.part
{
	width: 210px;
	padding: 10px;
	border: 10px solid #ededed;
	margin-bottom: 10px;
	font-size: 10px;
	background-color: #EBEBEB;
}

.part h3
{
	padding: 5px 10px 4px 12px;
	margin: 0 -10px;
	background-color: #ededed;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 4px;
	margin-bottom: 10px;
}

.part ul 
{
	list-style-type: none;
	display: inline;
}

.part li
{
	display: inline;
}

.part:last-of-type ul li
{
	padding: 1px;
	display: block;
}

main
{
	width: 860px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	left: -150px;
}

.top_header
{
	border-bottom: 2px solid #2d2d2d;
}

.gutter
{
	width: 500px;
	max-width: 500px;
	padding: 15px 17px 17px 17px;
	border: 10px solid #ededed;
	background-color: #fff;
}

.postbody
{
	float: right;
	width: 554px;
	padding-bottom: 150px;
}

article
{
	margin-bottom: 50px;
}

article p
{
	line-height: 170%;
	margin: 2px 0;
}

article header
{
	width: 100%;
}

article header h2
{
	text-align: center;
	border-bottom: 5px solid #ededed;
	padding: 0 10px 10px 10px;
	margin: 0 -10px 10px -10px;
	font-style: italic;
	letter-spacing: -1px;
	font-size: 17px;
	color: #3B383C;
}

.meta
{
	width: 400px;
	margin: 15px auto;
	text-align: center;
	display: none;
	border: 1px solid transparent;
}

.meta li
{
	display:inline-block;
	padding: 4px 5px;
	background: #1c1c1c url("noise.png");
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	margin-top: 5px;
}

.meta li a
{
	color: #fff;
}

.notes
{
	margin: 12px 0;
	padding-top: 10px;
	font-size: 12px;
	border-top: 1px solid #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 400px;
}

.notes a
{
	color: #323232;
}

.notes sup
{
	font-size: 50%;
}

footer
{
	display: none;
	height: 10px;
	font-size: 10px;
	position:fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #1c1c1c;
	color: #ffffff;
	padding: 10px 0;
	border-bottom: 2px solid #454545;
	text-align: center;
}

::-webkit-scrollbar-thumb:vertical {background-color:#fff;}
::-webkit-scrollbar-thumb:horizontal {background-color:#fff;height:10px !important;}
::-webkit-scrollbar {height:7px; width:7px; background-color:#000;}